body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: marquee 10s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

.animation-float {
    animation: float 2s ease-in-out infinite;
}